@use "../modules/fonts";
@use "../modules/mixins";

.path-about {
  .region-content {
    padding: 0;

    .about-container {
      width: 70%;
      margin: auto;
      padding-top: 20px;

      .topic {
        text-align: center;
        padding-bottom: 20px;

        p {
          text-align: left;
        }

        h3 {
          padding-bottom: 20px;
          @include mixins.normal-font($weight: 600);
        }
      }

      @media screen and (max-width: 767px) {
        width: 90%;
      }
    }
  }

  .case-evaluation-form-container {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }

    h2 {
      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
  }

  .trust-container {
    .field--name-body {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.informational-page-container {
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    line-height: 2.3;
  }
}
