@use "../modules/fonts";
@use "../modules/mixins";

.lower-container {
  padding: 40px 0;

  .hidden-sm-down {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .form-container {

    .address-container {
      padding-bottom: 20px;

      @media screen and (max-width: 767px) {
        text-align: center;
      }

      p {
        margin-bottom: .2rem;
      }
    }

    .outer-form-container {
      @media screen and (max-width: 767px) {
        width: 95%;
        margin: auto;
        text-align: center;
      }
    }

    .contact-form-container {


      .form-type-checkbox {
        display: inline-flex;
        gap: 5px;
        margin: 0;

        input {
          display: inline-block;
          height: 15px;
          width: 15px;
        }

        label {
          display: inline-block;
          font-size: 13px;
          color: #292b2c;

          .custom-para-blog {
            margin-bottom: 0;
            line-height: 1rem;
            color: #292b2c;

            a {
              text-decoration: underline;

              &:hover {
                color: #292b2c;
              }
            }
          }
        }
      }

      .apollo-field--submit-button {
        display: block;
        margin: auto;
        margin: 20px auto 15px auto;
        width: 100%;
        color: white !important;
        padding: 10px;
        cursor: pointer;
        background: #b01725;
        border: 0;
        border-radius: 5px;

        @media screen and (max-width: 767px) {
          width: auto;
        }
      }

      .form-item-extra-info {
        display: none;
      }

      .icarus .icarus-form .icarus-layout .icarus-layout-static {

        .icarus-field {
          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }

        .icarus-field input,
        .icarus-field textarea {
          display: block;
          width: 100% !important;
          padding: 0.5rem 0.75rem;
          font-size: 1rem;
          line-height: 1.25;
          color: #464a4c;
          background-color: white;
          background-image: none;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0.25rem;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .icarus-field.error input {
          border: solid 1px #d62717;
        }
      }
    }
  }

  .text-container h4 {
    @include mixins.normal-font(600);
    font-size: 16px;

    span {
      display: block;
      padding-top: 3px;
      font-family: inherit;
    }
  }
}
