@use "../modules/fonts";
@use "../modules/mixins";

// Generic
.medium-headline {
  @include mixins.headline-font(800);

  &.light {
    @include mixins.normal-font(100);
  }
}

.large-headline {
  @include mixins.headline-font(800);
}

.small-headline {
  @include mixins.normal-font(100);
}

h2.medium-headline {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 1.75rem;
}

.container-fluid {
  padding: 0;

  .panel {
    text-align: center;
  }

  .panel.banner {
    background: url(/themes/custom/mybg/images/hero-min.jpg) no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 30px;
    position: relative;

    .content {
      z-index: 1;
      background: transparent;
    }

    img#protect-and-serve {
      width: 250px;
      padding-bottom: 30px;
    }

    .banner-header {
      margin-top: 20px;
      line-height: 1.3em;

      .banner-header-title {
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-family: "Old Standard Regular";

        .banner-header-title-br {
          display: block;
          height: 0.5rem;
          width: auto;
        }
      }
    }

    .banner-subtext {
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 1.4em;

      .svg-inline--fa {
        display: block;
        margin: 25px auto;
        font-size: 1.4em;
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }

    .stars-container {
      margin-top: 10px;
    }
  }

  .panel.red-stripe {
    background: #b01725;
    color: #ffffff;

    a {
      padding: 15px;
      display: block;
      color: #ffffff;

      &:hover {
        text-decoration: none;
      }

      h3 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 20px;
        @include mixins.headline-font($weight: 400);

        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }

      .svg-inline--fa {
        font-size: 20px;
        margin-left: 20px;

        @media screen and (max-width: 767px) {
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }

  .panel.results {
    background: white;
    color: black;
    padding: 40px 0 80px 0;

    .litigation-results {
      margin: 60px 0;

      .litigation-result {
        h2 {
          font-size: 70px;
          font-family: 'Old Standard Regular';
        }

        h4 {
          letter-spacing: 7px;
        }

        .result-description {
          padding-top: 15px;

          p {
            color: #b1b1b1;
          }
        }

        //&:not(.slick-slide) {
        //  display: none;
        //}
      }
    }

    .button {
      padding: 10px 20px;
      border-radius: 8px;
    }
  }

  .panel.protect-and-serve {
    background: url(/themes/custom/mybg/images/banners/map_bg-min.jpg) no-repeat;
    background-size: cover;
    color: white;
    padding: 90px 0;

    .panel-inner {
      width: 70%;
      margin: auto;

      @media screen and (max-width: 991px) {
        width: 90%;
      }

      h3 {
        font-size: 60px;
        width: 80%;
        margin: auto;
        padding: 10px 0;

        @media screen and (max-width: 991px) {
          font-size: 30px;
          width: 95%;
        }
      }

      span.medium-headline {
        padding: 10px 0;
        font-family: 'OpenSans Light';
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-size: 1.5rem;
        display: block;
        margin-top: 0;
        margin-bottom: .5rem;
      }

      h5 {
        padding: 10px 0;
        font-weight: 100;
      }

      img {
        padding-bottom: 50px;
      }
    }
  }

  .panel.quote {
    background: url(/themes/custom/mybg/images/banners/flag-min.jpg) no-repeat;
    background-size: cover;

    .image-container {
      position: relative;
      right: -50px;
      text-align: right;

      img {
        max-height: 500px;
      }

      @media screen and (max-width: 767px) {
        right: 0;

        img {
          max-height: 350px;
        }
      }

      @media screen and (max-width: 575px) {
        right: 70px;

        img {
          max-height: 280px;
        }
      }
    }

    .text-container {
      background: transparent;
      text-align: right;
      padding-top: 80px;

      @media screen and (max-width: 420px) {
        padding: 20px 20px 10px 50px;
      }

      h3 {
        font-weight: bold;
        letter-spacing: inherit;

        @media screen and (max-width: 420px) {
          font-size: 13px;
          padding: 0 25px;
        }
      }

      p {
        margin-top: 0;
        margin-bottom: 1rem;

        @media screen and (max-width: 420px) {
          font-size: 13px;
        }

        .svg-inline--fa {
          color: #b01725;
          font-size: 25px;
          padding: 0 15px 0 0;
          position: relative;
          top: -15px;
          width: auto;

          @media screen and (max-width: 767px) {
            font-size: 18px;
          }

          @media screen and (max-width: 420px) {
            font-size: 16px;
          }
        }
      }

      @media screen and (max-width: 767px) {
        text-align: center;
        padding: 50px 25px 10px 25px;

        h3 {
          font-size: 15px;
        }
      }

      @media screen and (max-width: 575px) {
        text-align: center;
        padding: 30px 20px 10px 25px;

        h3 {
          font-size: 13px;
        }
      }
    }
  }

  .panel.video {
    background: url(/themes/custom/mybg/images/banners/bg-img-we-the-people-min.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;

    iframe {
      margin-top: 40px;
      width: 50%;

      @media screen and (max-width: 991px) {
        width: 90%;
      }
    }
  }
}

// Content Bottom Region
.trust-container {
  padding: 60px 0 !important;
  text-align: center;

  h3 {
    padding: 10px 0;
  }

  .trusted-partners-desc {
    display: block;
    padding: 10px 0;
    font-family: 'Old Standard Regular';
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.75rem;
  }

  .logos-container {
    padding: 40px 10px 40px 10px;
    align-items: center;

    .col-3 {
      margin: 0 10px;

      img {
        width: 100%;
        height: auto;
      }

      @media screen and (max-width: 767px) {
        margin: 0 0;
      }
    }
  }
}

.button.clear {
  background: transparent;
  border-radius: 5px;
  text-align: center;
  color: #ffffff !important;
  padding: 10px;
  border: solid 1px #ffffff;
  cursor: pointer;

  @media screen and (max-width: 991px) {
    font-size: 12px;
  }
}

.button.red {
  background: #b01725 !important;
  border-radius: 5px;
  text-align: center;
  color: #ffffff !important;
  padding: 10px;
  border: solid 1px #ffffff;
  cursor: pointer;
  margin-right: 0;
  margin-left: 10px;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
}

.buttons-container {
  .button.red {
    @media screen and (max-width: 991px) {
      font-size: 12px;
    }
  }
}

* {
  scroll-behavior: smooth !important;
}

.slick-dots {
  li {
    @media screen and (max-width: 420px) {
      margin: 0 3px;
    }
  }
}

.litigation-results {
  .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
