@use "../modules/fonts";

.testimonials-content {
  .region-content {
    padding: 0;
  }

  .testimonials-container {
    border-top: solid 2px #c3c3c3;
    padding-top: 20px;
    margin-bottom: 20px;

    h2 {
      padding-bottom: 15px;
    }

    .results-list ul {
      list-style-type: none;
      padding: 0;

      li {
        padding: 20px 0;

        .read-more-btn {
          color: #b01725;
          font-size: 16px;
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
