// text
$text-white: #ffffff;
// generic
$red: rgb(176, 23, 37);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark-gray: rgb(37, 37, 37);
$lightest-gray: rgb(236, 235, 232);
$light-gray: rgb(195, 195, 195);
$medium-gray: rgb(177, 177, 177);
$medium-dark-gray: rgb(150, 150, 150);
$dark-navy: rgb(4, 23, 67);
$navy: rgb(8, 40, 87);
$dark-teal: rgb(21, 109, 140);

// borders
$gray-border: #ccc;
