<footer>

  <div class="row">
    <div class="col-sm-12">
      <div class="footer-container container-fluid">
        <div class="footer-row social-row row">
          <div class="col-sm-12">
            <a href="https://www.facebook.com/thenationlawfirm/" target="_blank">
              <img src="/themes/custom/mybg/images/fb_icon.png">
            </a>
            <a href="https://www.youtube.com/channel/UCXEHOabmYA4MSFsw49IUQnQ" target="_blank">
              <img src="/themes/custom/mybg/images/yt_icon.png">
            </a>
            <a href="https://twitter.com/nation_law_firm" target="_blank">
              <img src="/themes/custom/mybg/images/twitter_icon.png">
            </a>
            <a href="https://www.linkedin.com/company/nation-law-firm-llc" target="_blank">
              <img src="/themes/custom/mybg/images/li_icon.png">
            </a>
          </div>
        </div>

        <div class="footer-row links row">
          <div class="col-sm-12">
            {{ page.footer.mybg_footer }}
            <button style="border:none;background:none;padding:0;margin:10px 0 0;color:#969696;font-size:1rem;line-height:1.5;" id="ot-sdk-btn" class="ot-sdk-show-settings">Your privacy choices.</button>
          </div>
        </div>

        <div class="footer-row copyright row">
          <div class="col-sm-12">
            © {{ "now"|date("Y") }} The Nation Law Firm. All Rights Reserved. <br>
            570 Crown Oak Centre Drive, Longwood, Florida, 32750
           </div>
        </div>

        <div class="footer-row disclaimer row">
          <p>Attorney Advertising. Please note that you are not considered a client until you have signed a retainer agreement
            and your case has been accepted by us. Prior results do not guarantee or predict a similar outcome with respect to any future matter.
            The information contained on this Web site is not medical advice and is not intended to be medical advice.
            Nor is it a substitute for seeking appropriate medical, or other professional advice.
            <button class="ot-sdk-show-settings" id="ot-sdk-btn" style="font-family: OpenSans Light;border:none;background:none;padding:5px 0;margin:0;opacity:0.8;font-size:11px;color: #b1b1b1;text-decoration:underline;">Your privacy choices.</button>
          </p>
        </div>

        <div class="footer-row logo justify-content-center row">
          <div class="col-6 col-sm-3">
            <img src="/themes/custom/mybg/images/hdr_logo_grey.png" alt="Nation Law Firm">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
