<header>
  <div class="row">
    <div class="col-sm-12">
      <div class="call-bar-container hidden-md-down">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <span class="call-item">Call us now 1(800)NATION-LAW</span>
              <a href="tel:+18773247071">
                <span class="call-item" data-ctm-watch-id="5" data-ctm-tracked="1" data-observe="1" data-observer-id="2">1(877)324-7071</span>
              </a>
              <span class="call-item last">Se Habla Espanol</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        <div class="nav-container container-fluid justify-content-center">
            <div class="col-12">
                <div class="container">
                    <div class="row">

                        <div class="col-5 col-lg-3 logo-block">
                            <a href="/">
                                <img src="/themes/custom/mybg/images/hdr_logo.png" alt="NationLaw">
                            </a>
                        </div>

                        <div class="col-3 hidden-lg-up empty-block"></div>

                        <div class="col-2 hidden-lg-up phone-container">
                            <a href="tel:+18773247071" data-ctm-watch-id="3" data-ctm-tracked="1" data-observe="1" data-observer-id="1">
                                <i class="fa fa-phone"></i>
                            </a>
                        </div>

                        <div class="col-2 col-lg-9 hidden-md-down text-items desktop-menu">
                            {{ page.navigation.mainnavigation }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>

  <div class="row spacer hidden-lg-up"></div>
</header>
