<div class="share-buttons-container {{ orientation }}">
    <div class="share fb-share">
        <div class="fb-like" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </div>
    <div class="share">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Share">Tweet</a>
    </div>
</div>
