@use "../modules/fonts";
@use "../modules/mixins";

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff;

  > .container-fluid {
    overflow-x: hidden;
  }

  > div.dialog-off-canvas-main-canvas {
    > .container-fluid {
      overflow-x: hidden;
    }
  }
}

h2, .h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

.container {
  @media (min-width: 1200px) {
    width: 1140px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header-container {
  text-align: center;
  padding: 60px 0 !important;
  background: url(/themes/custom/mybg/images/hero-min.jpg) no-repeat;
  background-size: cover;

  .bar.blue {
    border-top: solid 2px #156d8c;
    padding: 8px 0;
  }

  .header-main {
    font-size: 50px;
    @include mixins.headline-font($weight: 400);

    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
}

// Font styles
.caps {
  text-transform: uppercase;
}

.light {
  @include mixins.normal-font($weight: 100);
}

.large {
  font-size: 3em;
  letter-spacing: 3px;
}

.center {
  text-align: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

// Colours
.white {
  color: white;
}

.red {
  color: #b01725;
}

.bold {
  font-weight: bold;
}

.black {
  color: black;
}

.dark-gray {
  color: #252525;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-circle {
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
