{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}

{% if multiple %}
  <div class="videos row">
    {% for item in items %}
      <div class="col-12 col-md-6 col-lg-4 video" data-vid-id="{{ item.content['#url_title']|trim('https://www.youtube.com/embed/', 'left') }}">
        <div class="yt-container">
          <div class="overlay"></div>
          <h6 class="title caps">{{ item.content['#title'] }}</h6>
          <iframe type="text/html" src="{{ item.content['#url_title'] }}?enablejsapi=1&controls=1&fs=0&showinfo=0" frameborder="0">
          </iframe>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="video-popup-container modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <!-- video template here -->
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="video-template">
    <iframe type="text/html" src="https://www.youtube.com/embed/<%= video_id %>?enablejsapi=1&controls=1&fs=0&showinfo=0&autoplay=1" frameborder="0">
    </iframe>
  </script>
{% else %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% endif %}
